html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}


.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* ?? Hero Video */
.hero-video {
    width: 100vw; /* ancho de la ventana completa */
    height: 70vh; /* alto relativo a la pantalla */
    margin: 0;
    padding: 0;
    overflow: hidden;
}


    .hero-video video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* recorta el video para ocupar todo el espacio */
    }

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* oscurece un poco */
    text-align: center;
}

    .hero-overlay h1 {
        font-size: 3rem;
    }
